<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block>
    <div id="footer">
        <div class="container">

            <!-- Lists -->
            <div class="row">
                <div class="8u">
                    <section>
                        <header class="major">
                            <h3>Cocktail Kingdom</h3>
                        </header>
                        <div class="row">
                            <section class="6u">
                                <ul class="default">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#">Spirits</a></li>
                                    <li><a href="#">Beer&Wine</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Profile</a></li>
                                </ul>
                            </section>
                            <section class="6u">
                                <ul class="default">
                                    <li><a href="/alcohols/gin">Gin</a></li>
                                    <li><a href="/alcohols/rum">Rum</a></li>
                                    <li><a href="/alcohols/whiskey">Whiskey</a>
                                    <li><a href="/alcohols/tequila">Tequila</a>
                                    <li><a href="/alcohols/vodka">Vodka</a>
                                    <li><a href="/alcohols/other">Other</a></li>
                                    <li><a href="/alcohols/alcohol-free">Аlcohol-free</a>
                                </ul>
                            </section>
                        </div>
                    </section>
                </div>
                <div class="4u">
                    <section>
                        <header class="major">
                            <h3>Contact Us</h3>
                        </header>
                        <ul class="contact">
                            <li>
                                <span class="mail">Facebook</span>
                                <span><a href="#">Cocktail Kingdom</a></span>
                            </li>
                            <li>
                                <span class="mail">Mail</span>
                                <span><a href="#">cocktail-kingdom@gmail.com</a></span>
                            </li>
                            <li>
                                <span class="phone">Phone</span>
                                <span>(+359) 878 42 59 80</span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Copyright -->
            <div class="copyright">
                ©V. Panayotov 2021. All rights reserved.
            </div>

        </div>
    </div>
</th:block>