<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </noscript>
</head>
<body class="no-sidebar">

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <h1><a href="#" id="logo">Whiskey</a></h1>

        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}" ></th:block>

    </div>
</div>

<!-- Main -->
<div class="wrapper style2">
    <section th:object="${whiskeyAlcohol}" class="container">
        <header class="major">
            <h2 th:text="${whiskeyAlcohol.baseName.name()}">...</h2>
            <h4 th:text="${whiskeyAlcohol.percentOfAlcohol}">...</h4>
            <h3 th:text="${whiskeyAlcohol.description}">...</h3>
        </header>
        <div th:object="${whiskeyCocktails}" class="row no-collapse-1">
            <section th:each="c: ${whiskeyCocktails}" class="4u">
                <div class="item">
                    <a th:href="@{/cocktails/{id}(id=${c.id})}" class="image feature">
                        <img class="img" th:src="${c.imgUrl}"
                             alt=""></a>
                    <span th:text="${c.baseAlcohol.name()}">Vodka</span>
                    <p th:text="${c.name}">Bloody Merry</p>
                </div>
            </section>
        </div>
    </section>
</div>

<!-- Footer -->
<th:block th:include="~{fragments/footer.html}" ></th:block>

</body>
</html>