<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}" ></th:block>
</head>
<body class="no-sidebar">

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <h1><a href="#" id="logo">Spirits & Liqueurs</a></h1>

        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}" ></th:block>

    </div>
</div>

<!-- Main -->
<div class="wrapper style2">
    <section class="container">
        <header class="major">
            <h2>This are all categories</h2>
            <h3>Here can find your favorite</h3>
        </header>
        <div th:object="${allCocktails}" class="row no-collapse-1">
            <section th:each="c: ${allCocktails}" class="4u">
                <div class="item">
                    <a th:href="@{/cocktails/{id}(id=${c.id})}" class="image feature">
                        <img class="img" th:src="${c.imgUrl}"
                            alt=""></a>
                    <span th:text="${c.baseAlcohol.name()}">Vodka</span>
                    <p th:text="${c.name}">Bloody Merry</p>
                </div>
            </section>
        </div>
    </section>
</div>

<!-- Footer -->
<th:block th:include="~{fragments/footer.html}" ></th:block>

</body>
</html>