<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}" ></th:block>
</head>
<body class="no-sidebar">

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <h1><a href="#" id="logo">Spirits & Liqueurs</a></h1>

        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}"></th:block>

    </div>
</div>

<!-- Main -->
<div class="wrapper style2">
    <section class="container">
        <div th:object="${cocktail}" class="row no-collapse-1">
            <h2 th:text="${cocktail.name}"></h2>
            <h3 th:text="${cocktail.baseAlcohol}"></h3>
            <img class="image feature" th:src="${cocktail.imgUrl}"></a>
        </div>
        <div th:object="${cocktail}" class="container">
            <iframe class="video" th:src="'https://www.youtube.com/embed/' + *{videoUrl}"
                    allowfullscreen></iframe>
        </div>
    </section>
</div>

<!-- Footer -->
<th:block th:include="~{fragments/footer.html}"></th:block>

</body>
</html>