<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="no-sidebar">

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <h1><a href="#" id="logo">Enjoy</a></h1>

        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}"></th:block>

    </div>
</div>

<!-- Main -->

<div th:object="${cocktail}" id="main" class="wrapper style1">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="4u sidebar">
                <section>
                    <header class="major">
                        <h2>INGREDIENTS</h2>
                        <h3 th:each="p:*{products}"
                            th:text="|${p.name} - ${p.quantity}|" ></h3>
                    </header>
                    <div class="row half">
                        <section class="6u">
                            <ul class="default">
                                <iframe class="video" th:src="'https://www.youtube.com/embed/' + *{videoUrl}"
                                        allowfullscreen></iframe>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>

            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
                <section>
                    <header class="major">
                        <h2 th:text="*{name}" >Left Sidebar</h2>
                        <span th:text="*{baseAlcohol}" class="byline"></span>
                        <h4 th:text="*{#temporals.format(addedOn, 'HH:mm dd-MM-yyyy')}" ></h4>
                    </header>
                    <img class="image feature" th:src="*{imgUrl}"></a>
                </section>
            </div>

        </div>
        <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
        <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24q.fP3vy3btEvldcuInjMS."+"&opts=16862&num=10&ts=1617044358699");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
    </div>
</div>



<!-- Footer -->
<th:block th:include="~{fragments/footer.html}"></th:block>

</body>
</html>