<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}" ></th:block>
</head>

<body class="homepage">

<!-- Header -->
<div id="header">
    <div class="container">
        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}" ></th:block>


        <!-- Banner -->
        <div id="banner">
            <div class="container">
                <section>
                    <header class="major">
                        <h2>Welcome to Cocktail heaven!</h2>
                        <span class="byline">If you are thirsty you are on the right place</span>
                    </header>
                </section>
            </div>
        </div>

    </div>
</div>

<!-- Featured -->
<div class="wrapper style2">
    <section class="container">
        <header class="major">
            <h2>Newest cocktails</h2>
        </header>
        <div th:object="${newestCocktails}" class="row no-collapse-1">
            <section th:each="cocktail: ${newestCocktails}" class="4u">
                <div class="item">
                    <a th:href="@{/cocktails/{id}(id=${cocktail.id})}" class="image feature">
                        <img class="img" th:src="${cocktail.imgUrl}"
                             alt=""></a>
                    <span th:text="${cocktail.baseAlcohol.name()}">Vodka</span>
                    <p th:text="${cocktail.name}">Bloody Merry</p>
                </div>
            </section>
        </div>
        <form th:action="@{/cocktails/all}" th:method="GET">
            <button type="submit" class="btn pull-right button">Explore More</button>
        </form>
    </section>
</div>

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="wrapper style2">
        <i class="zmdi zmdi-arrow-right"></i>
        <section class="container">
            <header class="major">
                <h2>Most Viewed</h2>
            </header>
            <div th:object="${mostViewedCocktails}" class="row no-collapse-1">
                <section th:each="cocktail: ${mostViewedCocktails}" class="4u">
                    <div class="item">
                        <a th:href="@{/cocktails/{id}(id=${cocktail.id})}" class="image feature">
                            <img class="img" th:src="${cocktail.imgUrl}"
                                 alt=""></a>
                        <span th:text="${cocktail.baseAlcohol.name()}">Vodka</span>
                        <p th:text="${cocktail.name}">Bloody Merry</p>
                    </div>
                </section>
            </div>
            <form th:action="@{/cocktails/all}" th:method="GET">
                <button type="submit" class="btn pull-right button">Explore More</button>
            </form>
        </section>
        <i class="zmdi zmdi-arrow-left"></i>
    </div>
</div>

<!-- Footer -->

<th:block th:include="~{fragments/footer.html}" ></th:block>
</body>

</html>