<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel.css"/>
        <link rel="stylesheet" href="css/style.css"/>
    </noscript>
</head>

<body class="homepage">

<!-- Header -->
<div id="header">
    <div class="container">
        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}" ></th:block>


        <!-- Banner -->
        <div id="banner">
            <div class="container">
                <section>
                    <header class="major">
                        <h2>Welcome to Cocktail heaven!</h2>
                        <span class="byline">If you are thirsty you are on the right place</span>
                    </header>
                </section>
            </div>
        </div>

    </div>
</div>

<!-- Featured -->
<div class="wrapper style2">
    <section class="container">
        <header class="major">
            <h2>Newest cocktails</h2>
        </header>
        <div th:object="${newestCocktails}" class="row no-collapse-1">
            <section th:each="cocktail: ${newestCocktails}" class="4u">
                <div class="item">
                    <a th:href="@{/cocktails/{id}(id=${cocktail.id})}" class="image feature">
                        <img class="img" th:src="${cocktail.imgUrl}"
                             alt=""></a>
                    <span th:text="${cocktail.baseAlcohol.name()}">Vodka</span>
                    <p th:text="${cocktail.name}">Bloody Merry</p>
                </div>
            </section>
        </div>
        <form th:action="@{/cocktails}" th:method="GET">
            <button type="submit" class="btn pull-right button">Explore More</button>
        </form>
    </section>
</div>

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="wrapper style2">
        <section class="container">
            <header class="major">
                <h2>Top Rated</h2>
            </header>
            <div class="row no-collapse-1">
                <section class="4u">
                    <a href="#" class="image feature"><img src="images/pic02.jpg" alt=""></a>
                    <p>Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat.
                    </p>
                </section>
                <section class="4u">
                    <a href="#" class="image feature"><img src="images/pic03.jpg" alt=""></a>
                    <p>Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis. Donec
                        magna.</p>
                </section>
                <section class="4u">
                    <a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
                    <p>Curabitur sem urna, consequat vel, suscipit convallis sem leo, mattis placerat, nulla. Sed ac
                        leo.</p>
                </section>
            </div>
            <form th:action="@{/cocktails}" th:method="GET">
                <button type="submit" class="btn pull-right button">Explore More</button>
            </form>
        </section>
    </div>
</div>

<!-- Footer -->

<th:block th:include="~{fragments/footer.html}" ></th:block>

</body>

</html>

<!--<div th:object="${cocktail}" class="container">
        <img class="image feature" th:src="${cocktail.imgUrl}"></a>
        <h2 th:text="${cocktail.name}"></h2>
        <h3 th:text="${cocktail.baseAlcohol}"></h3>
    </div>
    <div th:object="${cocktail}" class="container">
        <iframe class="video" th:src="'https://www.youtube.com/embed/' + *{videoUrl}"
                allowfullscreen></iframe>
    </div>-->