<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="no-sidebar">

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <h1><a href="#" id="logo">Find your cocktail</a></h1>

        <!-- Nav -->
        <th:block th:include="~{fragments/navbar.html}"></th:block>

    </div>
</div>

<!-- Main -->
<div class="wrapper style2">
    <section class="container">
        <header class="major">
            <h2 id="h2" >Here can search.</h2>
        </header>
        <div class="search">
            <input id="searchInput" type="text" placeholder="Search by name or alcohol...">
            <button id="searchBtn" type="button" class="btn pull-right button">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div id="albumsList">
            <div th:object="${allCocktails}" class="row no-collapse-1">
                <section th:each="c: ${allCocktails}" class="4u">
                    <div class="item">
                        <a th:href="@{/cocktails/{id}(id=${c.id})}" class="image feature">
                            <img class="img" th:src="${c.imgUrl}"
                                 alt=""></a>
                        <span th:text="${c.baseAlcohol.name()}">Vodka</span>
                        <p th:text="${c.name}">Bloody Merry</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<th:block th:include="~{fragments/footer.html}"></th:block>
<script th:src="@{js/search.js}"></script>
</body>
</html>